@import './functions.scss';
@import './variables';
@import './mixins';

html {
  font-family: $textFont;
  color: $text-color;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  // Fallback colors to SCSS variables, but they should be declared somewhere in root html element
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --error-color: #{$error-color};

  --header-font-family-family: #{$headerFont};
  --text-font-family: #{$textFont};
}

hr {
  border: none;
  border-top: 1px solid $gray-color-400;
  margin: 25px 0;
}
