@import './functions.scss';
@import './variables';
@import './mixins';

html {
  font-family: $textFont;
  color: $text-color;
  font-size: $base-font-size;
  line-height: rem(19);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  // Fallback colors to SCSS variables, but they should be declared somewhere in root html element
  --primary-color: #{$primary-color};
  --secondary-color-alt: #{$secondary-color-alt};
  --secondary-color-alt-semi-transparent: #{$secondary-color-alt-semi-transparent};
  --secondary-color: #{$secondary-color};
  --error-color: #{$error-color};

  --header-font-family-family: #{$headerFont};
  --text-font-family: #{$textFont};
}

// Hide global reCaptcha badge
.grecaptcha-badge {
  visibility: hidden;
}

.hr {
  border: none;
  border-top: 1px solid $gray-color-400;
  margin: 25px 0;

  &--light {
    border-top-color: $gray-color-300;
    margin: 16px 0;
  }
}

h2 {
  font-size: rem(20);
  line-height: rem(26);
  font-weight: 500;
}

.primary-text {
  color: var(--primary-color);
}
.secondary-text {
  color: var(--secondary-color);
}
